
config wifi-device 'radio0'
	option type 'mac80211'
	option path 'platform/soc/a000000.wifi'
	option band '2g'
	option channel '6'
	option htmode 'HT20'
	option disabled '0'
	option country 'CZ'
	option cell_density '1'

config wifi-device 'radio1'
	option type 'mac80211'
	option path 'platform/soc/a800000.wifi'
	option band '5g'
	option channel '100'
	option htmode 'VHT80'
	option cell_density '1'
	option country 'CZ'

config wifi-iface 'home_2g'
	option device 'radio0'
	option mode 'ap'
	option ssid 'Home'
	option network 'trusted'
	option encryption 'psk2'
	option key '${wifi_keys["Home"]}'
	option disabled '0'

config wifi-iface 'home_5g'
	option device 'radio1'
	option mode 'ap'
	option ssid 'Home'
	option network 'trusted'
	option encryption 'psk2'
	option key '${wifi_keys["Home"]}'
	option disabled '0'

config wifi-iface 'work_5g'
	option device 'radio1'
	option mode 'ap'
	option ssid 'Home-Work'
	option network 'work'
	option encryption 'psk2'
	option key '${wifi_keys["Home-Work"]}'
	option disabled '0'

config wifi-iface 'iot_2g'
	option device 'radio0'
	option mode 'ap'
	option ssid 'Home-IoT'
	option network 'iot'
	option encryption 'psk2'
	option key '${wifi_keys["Home-IoT"]}'
	option disabled '0'
	option isolate '1'
	option ieee80211w '0'

config wifi-iface 'guest_2g'
	option device 'radio0'
	option mode 'ap'
	option ssid 'Home-Guest'
	option network 'guest'
	option encryption 'psk2'
	option key '${wifi_keys["Home-Guest"]}'
	option disabled '0'
	option isolate '1'

config wifi-iface 'guest_5g'
	option device 'radio1'
	option mode 'ap'
	option ssid 'Home-Guest'
	option network 'guest'
	option encryption 'psk2'
	option key '${wifi_keys["Home-Guest"]}'
	option disabled '0'
	option isolate '1'

