external-dns:
  provider:
    name: cloudflare
  txtOwnerId: homelab
  env:
    - name: CF_API_TOKEN
      valueFrom:
        secretKeyRef:
          name: cloudflare-api-token
          key: api-token
  extraArgs:
    - --annotation-filter=external-dns.alpha.kubernetes.io/exclude notin (true)
  sources:
    - service
    - ingress
    - gateway-httproute
  policy: sync

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true

helpers:
  infisicalSecrets:
    - name: cloudflare-api-token
      infisical:
        path: "/cloudflare"
