core-keeper:
  controllers:
    main:
      containers:
        main:
          image:
            repository: escaping/core-keeper-dedicated
            tag: v2.7.0@sha256:6531227708c06db6850731609e2df3e0940e63149395c743f12a0ce5f0c34ead
          envFrom:
            - secretRef:
                name: core-keeper-secret

  persistence:
    config:
      enabled: true
      suffix: config
      storageClass: longhorn-ssd
      size: 2Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /home/steam/core-keeper-data

helpers:
  infisicalSecrets:
    - name: core-keeper-secret
      infisical:
        path: "/core-keeper"
  backups:
    - pvcName: core-keeper-config
      resticRepoSuffix: core-keeper
      retain:
        hourly: 12
        daily: 7
        weekly: 4
        monthly: 2
        yearly: 1
