core-keeper:
  controllers:
    main:
      replicas: 0
      containers:
        main:
          image:
            repository: escaping/core-keeper-dedicated
            tag: v2.7.1@sha256:a0d5af053ccb3a183c06463fc2912ef61475f6bf36f587d2983e55faebcfdf9d
          envFrom:
            - secretRef:
                name: core-keeper-secret

  persistence:
    config:
      enabled: true
      suffix: config
      storageClass: longhorn-ssd
      size: 2Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /home/steam/core-keeper-data

helpers:
  infisicalSecrets:
    - name: core-keeper-secret
      infisical:
        path: "/core-keeper"
  backups:
    - enabled: false
      pvcName: core-keeper-config
      resticRepoSuffix: core-keeper
      retain:
        hourly: 12
        daily: 7
        weekly: 4
        monthly: 2
        yearly: 1
