app-template:
  serviceAccount:
    tailscale:
      forceRename: tailscale
      staticToken: true
  controllers:
    tailscale:
      serviceAccount:
        name: tailscale
      containers:
        app:
          image:
            repository: ghcr.io/tailscale/tailscale
            tag: v1.92.4@sha256:d6734d69fd7d31b1861589e347463954aa6097f9a61aa4f8f763ba94bfe0e5b9
          env:
            TS_HOSTNAME: homelab-router
            TS_USERSPACE: false
            TS_KUBE_SECRET: tailscale-tailscale-sa-token
            TS_ROUTES: 192.168.50.224/27
            TS_AUTHKEY:
              valueFrom:
                secretKeyRef:
                  name: tailscale-auth
                  key: TS_AUTHKEY
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          resources:
            limits:
              squat.ai/tun: "1"

helpers:
  infisicalSecrets:
    - name: tailscale-auth
      infisical:
        path: "/tailscale"
