app-template:
  serviceAccount:
    tailscale:
      forceRename: tailscale
      staticToken: true
  controllers:
    tailscale:
      serviceAccount:
        name: tailscale
      containers:
        app:
          image:
            repository: ghcr.io/tailscale/tailscale
            tag: v1.90.9@sha256:9975353aae933e8fbd1a81226d092a9225b9a0f98b173d365a9d525eca1cc298
          env:
            TS_HOSTNAME: homelab-router
            TS_USERSPACE: false
            TS_KUBE_SECRET: tailscale-tailscale-sa-token
            TS_ROUTES: 192.168.50.224/27
            TS_AUTHKEY:
              valueFrom:
                secretKeyRef:
                  name: tailscale-auth
                  key: TS_AUTHKEY
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          resources:
            limits:
              squat.ai/tun: "1"

helpers:
  infisicalSecrets:
    - name: tailscale-auth
      infisical:
        path: "/tailscale"
