librespeed:
  controllers:
    main:
      containers:
        main:
          image:
            repository: lscr.io/linuxserver/librespeed
            tag: 5.4.1@sha256:9abcf58a1b916df6557caf04882a8a0fb3aa1780187c77d57f0b200b3f22c802

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 80

  ingress:
    main:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
        nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
        nginx.ingress.kubernetes.io/proxy-body-size: '0'
      hosts:
        - host: &host speed.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: librespeed-tls
          hosts:
            - *host
