librespeed:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/librespeed/speedtest
            tag: 5.5.1@sha256:1c8ca636a9b68d023c819c5ce6e7fab3f5214b963138eb9ef6aaddf9ae111c77
          env:
            MODE: standalone

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 80

  ingress:
    main:
      className: cilium
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        ingress.cilium.io/loadbalancer-mode: shared
      hosts:
        - host: &host speed.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: librespeed-tls
          hosts:
            - *host
