backrest:
  controllers:
    main:
      containers:
        main:
          image:
            repository: garethgeorge/backrest
            tag: v1.11.2@sha256:6ecf25925dafcb6b37ab871d23c1d424a6f5008191a631c0b520641ec22a3f84
          env:
            BACKREST_DATA: /data
            BACKREST_CONFIG: /config/config.json
            XDG_CACHE_HOME: /cache

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 9898

  route:
    main:
      hostnames:
        - backrest.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: main
          timeouts:
            request: 3600s

  persistence:
    config:
      enabled: true
      suffix: config
      storageClass: longhorn-ssd
      size: 2Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /data
              subPath: data
            - path: /config
              subPath: config
            - path: /cache
              subPath: cache

backrest-volsync-operator:
  image:
    repository: ghcr.io/vanchaxy/backrest-volsync-operator
    tag: latest@sha256:386c8f6cd60e9ea3b95b578137a0fd3208885d3045db462f962a358fd4b91d15

  operatorConfig:
    create: true
    bindingGeneration: All
    defaultBackrest:
      url: http://backrest:9898/
    bindingGenerationKinds:
      - ReplicationSource
