cloud:
  children:
    hetzner:
      hosts:
        %{~ for name, params in hosts ~}

        ${ name }:
          ansible_host: ${ hosts_ips[name] }
          master: ${ params["master"] }

        %{~ endfor ~}
