victoria-metrics-k8s-stack:
  victoria-metrics-operator:
    admissionWebhooks:
      enabled: true
      certManager:
        enabled: true

  vmsingle:
    spec:
      retentionPeriod: "30d"
      storage:
        resources:
          requests:
            storage: 20Gi

  grafana:
    enabled: false
    forceDeployDatasource: true

  defaultDashboards:
    grafanaOperator:
      enabled: true
      spec:
        allowCrossNamespaceImport: true

  defaultDatasources:
    grafanaOperator:
      enabled: true
      spec:
        allowCrossNamespaceImport: true
