apiVersion: v2
name: paperless-ngx
version: 0.0.0
dependencies:
  - name: app-template
    version: 4.6.2
    repository: https://bjw-s-labs.github.io/helm-charts
    alias: paperless-ngx
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 25.2.0
    condition: redis.enabled
  - name: helpers
    version: 0.1.0
    repository: file://../../../k8s/_helpers
