paperless-ngx:
  controllers:
    paperless:
      containers:
        main:
          image:
            repository: ghcr.io/paperless-ngx/paperless-ngx
            tag: 2.20.5@sha256:665f2f5cc5482ea2e44f90a7fa170908aaeb95d8d3c70e17f746de8fcb81f644
          env:
            PAPERLESS_REDIS: redis://paperless-ngx-redis-headless:6379
            PAPERLESS_TIKA_ENABLED: 1
            PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-ngx-gotenberg:3000
            PAPERLESS_TIKA_ENDPOINT: http://paperless-ngx-tika:9998
            PAPERLESS_URL: https://paper.ivanchenko.io
            PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
            PAPERLESS_DISABLE_REGULAR_LOGIN: True
            PAPERLESS_REDIRECT_LOGIN_TO_SSO: True
            PAPERLESS_SOCIAL_AUTO_SIGNUP: True
          envFrom:
            - secretRef:
                name: paperless-secret
    gotenberg:
      containers:
        main:
          image:
            repository: docker.io/gotenberg/gotenberg
            tag: 8.25@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
          command:
            - "gotenberg"
            - "--chromium-disable-javascript=true"
            - "--chromium-allow-list=file:///tmp/.*"
    tika:
      containers:
        main:
          image:
            repository: docker.io/apache/tika
            tag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
  service:
    paperless:
      controller: paperless
      type: ClusterIP
      ports:
        http:
          port: 8000
    gotenberg:
      controller: gotenberg
      type: ClusterIP
      ports:
        http:
          port: 3000
    tika:
      controller: tika
      type: ClusterIP
      ports:
        http:
          port: 9998
  route:
    paperless:
      hostnames:
        - paper.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: paperless
  persistence:
    data:
      enabled: true
      suffix: data
      storageClass: longhorn-ssd
      size: 1Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        paperless:
          main:
            - path: /usr/src/paperless/data
              subPath: data
            - path: /usr/src/paperless/media
              subPath: media
            - path: /usr/src/paperless/export
              subPath: export
            - path: /usr/src/paperless/consume
              subPath: consume

redis:
  enabled: true
  auth:
    enabled: false
    username: ""
  master:
    persistence:
      enabled: true
  replica:
    replicaCount: 0

helpers:
  infisicalSecrets:
    - name: paperless-secret
      infisical:
        path: "/paperless-ngx"
  backups:
    - pvcName: paperless-ngx-data
      resticRepoSuffix: paperless-ngx/data
