paperless-ngx:
  controllers:
    paperless:
      containers:
        main:
          image:
            repository: ghcr.io/paperless-ngx/paperless-ngx
            tag: 2.19.5@sha256:5f2a72fd7be42c6b1d8fa1751606a140452d4c3e6e829ae6b1b15e3c95129481
          env:
            PAPERLESS_REDIS: redis://paperless-ngx-redis-headless:6379
            PAPERLESS_TIKA_ENABLED: 1
            PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-ngx-gotenberg:3000
            PAPERLESS_TIKA_ENDPOINT: http://paperless-ngx-tika:9998
            PAPERLESS_URL: https://paper.ivanchenko.io
            PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
            PAPERLESS_DISABLE_REGULAR_LOGIN: True
            PAPERLESS_REDIRECT_LOGIN_TO_SSO: True
            PAPERLESS_SOCIAL_AUTO_SIGNUP: True
          envFrom:
            - secretRef:
                name: paperless-secret

    paperless-gpt:
      containers:
        main:
          image:
            repository: icereed/paperless-gpt
            tag: v0.23.0@sha256:90766d15d541162129d0fa47dad5ffb33a02a0c77cbc4cee9007b24b656ba6ce
          env:
            PAPERLESS_BASE_URL: "https://paper.ivanchenko.io"
            PAPERLESS_PUBLIC_URL: "https://paper.ivanchenko.io"
            LLM_PROVIDER: "openai"
            LLM_MODEL: "gpt-4o-mini"
            OCR_PROVIDER: "llm"
            VISION_LLM_PROVIDER: "openai"
            VISION_LLM_MODEL: "gpt-4o-mini"
          envFrom:
            - secretRef:
                name: paperless-secret

    gotenberg:
      containers:
        main:
          image:
            repository: docker.io/gotenberg/gotenberg
            tag: 8.24@sha256:b116a40a1c24917e2bf3e153692da5acd2e78e7cd67e1b2d243b47c178f31c90
          command:
            - "gotenberg"
            - "--chromium-disable-javascript=true"
            - "--chromium-allow-list=file:///tmp/.*"
    tika:
      containers:
        main:
          image:
            repository: docker.io/apache/tika
            tag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
  service:
    paperless:
      controller: paperless
      type: ClusterIP
      ports:
        http:
          port: 8000
    paperless-gpt:
      controller: paperless-gpt
      type: ClusterIP
      ports:
        http:
          port: 8080
    gotenberg:
      controller: gotenberg
      type: ClusterIP
      ports:
        http:
          port: 3000
    tika:
      controller: tika
      type: ClusterIP
      ports:
        http:
          port: 9998
  ingress:
    paperless:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
        nginx.ingress.kubernetes.io/ssl-passthrough: 'true'
        nginx.ingress.kubernetes.io/proxy-body-size: '0'
      hosts:
        - host: &host paper.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: paperless
                port: http
        - host: &host-gpt paper-gpt.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: paperless-gpt
                port: http
      tls:
        - secretName: paperless-tls
          hosts:
            - *host
            - *host-gpt

  persistence:
    data:
      enabled: true
      suffix: data
      storageClass: longhorn-ssd
      size: 1Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        paperless:
          main:
            - path: /usr/src/paperless/data
              subPath: data
            - path: /usr/src/paperless/media
              subPath: media
            - path: /usr/src/paperless/export
              subPath: export
            - path: /usr/src/paperless/consume
              subPath: consume

redis:
  enabled: true
  auth:
    enabled: false
    username: ""
  master:
    persistence:
      enabled: true
  replica:
    replicaCount: 0

helpers:
  infisicalSecrets:
    - name: paperless-secret
      infisical:
        path: "/paperless-ngx"
  backups:
    - pvcName: paperless-ngx-data
      resticRepoSuffix: paperless-ngx/data
