media:
  defaultPodOptions:
    automountServiceAccountToken: false
#    securityContext:
#      fsGroup: 568
#      fsGroupChangePolicy: "OnRootMismatch"
#      runAsUser: 0
#      runAsGroup: 0

  controllers:
    vuetorrent:
      containers:
        main:
          image:
            repository: nukecat/vuetorrent-standalone
            tag: 2.31.2@sha256:6838dbb67faa14dec8172447a2b1661674132df0ecdd9d475cac079e2caee1f4
          env:
            QB_HOST: http://media-qbittorrent
            QB_PORT: 8081
    qbittorrent:
      containers:
        main:
          image:
            repository: linuxserver/qbittorrent
            tag: libtorrentv1@sha256:c336347a5fe9383b5095b531dcbccdf68c693828c3cde2c2446fc7d2811117de
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
            WEBUI_PORT: 8081
          resources:
            limits:
              squat.ai/tun: "1"
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: ["/bin/sh", "-c", "/bin/ping -qc 2 1.1.1.1 && /bin/ls /data/media || exit 1"]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3
        gluetun:
          dependsOn: main
          image:
            repository: ghcr.io/qdm12/gluetun
            tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
          env:
            FIREWALL_INPUT_PORTS: 8081
            FIREWALL_OUTBOUND_SUBNETS: "192.168.50.0/24,10.244.0.0/16,10.96.0.0/12"
            DOT: off
            DNS_KEEP_NAMESERVER: on
            HEALTH_VPN_DURATION_INITIAL: 30s
            VPN_SERVICE_PROVIDER: protonvpn
            VPN_PORT_FORWARDING: on
            VPN_PORT_FORWARDING_UP_COMMAND: >-
              /bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{ `{{PORTS}}` }}}" http://127.0.0.1:8081/api/v2/app/setPreferences 2>&1'
          envFrom:
            - secretRef:
                name: media-secret
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
          resources:
            limits:
              squat.ai/tun: "1"

    cross-seed:
      pod:
        securityContext:
          fsGroup: 568
          fsGroupChangePolicy: "OnRootMismatch"
          runAsUser: 568
          runAsGroup: 568

      containers:
        main:
          image:
            repository: ghcr.io/cross-seed/cross-seed
            tag: 6.13.6@sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          args:
            - daemon
            - '-T'
            - http://media-prowlarr:9696/1/api?apikey=6e4a625420f84dd38d474f3b9664ea1a
            - http://media-prowlarr:9696/2/api?apikey=6e4a625420f84dd38d474f3b9664ea1a
            - http://media-prowlarr:9696/3/api?apikey=6e4a625420f84dd38d474f3b9664ea1a
            - http://media-prowlarr:9696/4/api?apikey=6e4a625420f84dd38d474f3b9664ea1a
            - '-A'
            - inject
            - '--qbittorrent-url'
            - 'http://media-qbittorrent:8081'
            - '--duplicate-categories'
            - '--match-mode'
            - 'partial'
            - '--link-dirs'
            - '/data/x-seed'
            - '--season-from-episodes' 
            - '0.8'
            - '--rss-cadence'
            - '15min'
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: ["/bin/sh", "-c", "/bin/ls /data/media || exit 1"]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    prowlarr:
      containers:
        main:
          image:
            repository: linuxserver/prowlarr
            tag: 2.3.0@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC

    radarr:
      containers:
        main:
          image:
            repository: linuxserver/radarr
            tag: 6.0.4@sha256:06ac318ecb95a34c7b229568dcb4271f02cb5007bb189a0dd67a2032864187ca
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: ["/bin/sh", "-c", "/bin/ls /data/media || exit 1"]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    sonarr:
      containers:
        main:
          image:
            repository: linuxserver/sonarr
            tag: 4.0.16@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: ["/bin/sh", "-c", "/bin/ls /data/media || exit 1"]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    profilarr:
      containers:
        main:
          image:
            repository: santiagosayshey/profilarr
            tag: v1.1.3@sha256:c8ad91a8e5d60b3816321b3a1f68332b29a23f910f6bd2c2d7b4a83f881f032f
          env:
            TZ: Europe/Kyiv
          envFrom:
            - secretRef:
                name: media-secret

    jellyfin:
      pod:
        nodeSelector:
          amd.com/gpu.device-id: 15d8
      containers:
        main:
          image:
            repository: linuxserver/jellyfin
            tag: 10.11.4@sha256:eb34c52b9fda39157fabee6fccb26729f1e710912896495fd1a91ba934703f58
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
            DOCKER_MODS: linuxserver/mods:jellyfin-amd
            JELLYFIN_PublishedServerUrl: https://jellyfin.ivanchenko.io
          resources:
            limits:
              amd.com/gpu: 1
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: ["/bin/sh", "-c", "/bin/ls /data/media || exit 1"]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    mkvtools:
#      pod:
#        securityContext:
#          fsGroup: 568
#          fsGroupChangePolicy: "OnRootMismatch"
#          runAsUser: 568
#          runAsGroup: 568
      containers:
        main:
          image:
            repository: ghcr.io/vanchaxy/mkvtool
            tag: sha-238c97d@sha256:ef478c98973029643ca60a50d1f33286b71d4592cff4fe47d0029da5344ce70e
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: ["/bin/sh", "-c", "/bin/ls /data/media || exit 1"]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

  service:
    vuetorrent:
      controller: vuetorrent
      type: ClusterIP
      ports:
        http:
          port: 80
    qbittorrent:
      controller: qbittorrent
      type: ClusterIP
      ports:
        http:
          port: 8081
    cross-seed:
      controller: cross-seed
      type: ClusterIP
      ports:
        http:
          port: 2468
    prowlarr:
      controller: prowlarr
      type: ClusterIP
      ports:
        http:
          port: 9696
    radarr:
      controller: radarr
      type: ClusterIP
      ports:
        http:
          port: 7878
    sonarr:
      controller: sonarr
      type: ClusterIP
      ports:
        http:
          port: 8989
    profilarr:
      controller: profilarr
      type: ClusterIP
      ports:
        http:
          port: 6868
    jellyfin:
      controller: jellyfin
      type: ClusterIP
      ports:
        http:
          port: 8096

  ingress:
    main:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        nginx.ingress.kubernetes.io/force-ssl-redirect: 'true'
      hosts:
        - host: &vuetorrent-host vuetorrent.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: vuetorrent
                port: http
        - host: &qbittorrent-host qbittorrent.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: qbittorrent
                port: http
        - host: &cross-seed-host cross-seed.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: cross-seed
                port: http
        - host: &prowlarr-host prowlarr.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: prowlarr
                port: http
        - host: &radarr-host radarr.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: radarr
                port: http
        - host: &sonarr-host sonarr.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: sonarr
                port: http
        - host: &profilarr-host profilarr.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: profilarr
                port: http
        - host: &jellyfin-host jellyfin.ivanchenko.io
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: http
      tls:
        - secretName: main-tls
          hosts:
            - *vuetorrent-host
            - *qbittorrent-host
            - *cross-seed-host
            - *prowlarr-host
            - *radarr-host
            - *sonarr-host
            - *profilarr-host
            - *jellyfin-host

  persistence:
    config:
      storageClass: longhorn-ssd
      size: 50Gi
      accessMode: ReadWriteMany
      advancedMounts:
        qbittorrent:
          main:
            - path: /config
              subPath: qbittorrent-config
        cross-seed:
          main:
            - path: /config
              subPath: cross-seed-config
        prowlarr:
          main:
            - path: /config
              subPath: prowlarr-config
        radarr:
          main:
            - path: /config
              subPath: radarr-config
        sonarr:
          main:
            - path: /config
              subPath: sonarr-config
        profilarr:
          main:
            - path: /config
              subPath: profilarr-config
        jellyfin:
          main:
            - path: /config
              subPath: jellyfin-config
        mkvtools:
          main:
            - path: /UTOPIA-Upload-Assistant/data
              subPath: mkvtools-config
    tmp:
      type: emptyDir
      advancedMounts:
        mkvtools:
          main:
            - path: /UTOPIA-Upload-Assistant/tmp
    data:
      storageClass: nfs-csi
      size: 10Ti
      accessMode: ReadWriteMany
      retain: true
      advancedMounts:
        qbittorrent:
          main:
            - path: /data
        cross-seed:
          main:
            - path: /data
        radarr:
          main:
            - path: /data
        sonarr:
          main:
            - path: /data
        jellyfin:
          main:
            - path: /data/media
              subPath: media
        mkvtools:
          main:
            - path: /data

helpers:
  infisicalSecrets:
    - name: media-secret
      namespace: media
      infisical:
        path: "/media"
  backups:
    - pvcName: media-config
      resticRepoSuffix: media/config
