media:
  defaultPodOptions:
    automountServiceAccountToken: false
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - saturn

  controllers:
    qbittorrent:
      containers:
        main:
          image:
            repository: linuxserver/qbittorrent
            tag: 5.1.4@sha256:dfa75bc534ad4f36262f75b5c1d4c4f0ddd5e7ed5711ebc581c70920cce204ee
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
            WEBUI_PORT: 8081
          resources:
            requests:
              memory: 2Gi
            limits:
              memory: 2Gi
              squat.ai/tun: "1"
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: [ "/bin/sh", "-c", "/bin/ping -qc 2 1.1.1.1 && /bin/ls /data/media || exit 1" ]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3
        gluetun:
          dependsOn: main
          image:
            repository: ghcr.io/qdm12/gluetun
            tag: v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
          env:
            FIREWALL_INPUT_PORTS: 8081
            FIREWALL_OUTBOUND_SUBNETS: "192.168.50.0/24,10.244.0.0/16,10.96.0.0/12"
            DOT: off
            DNS_KEEP_NAMESERVER: on
            HEALTH_VPN_DURATION_INITIAL: 30s
            VPN_SERVICE_PROVIDER: protonvpn
            VPN_PORT_FORWARDING: on
            VPN_PORT_FORWARDING_UP_COMMAND: >-
              /bin/sh -c 'wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{ `{{PORTS}}` }}}" http://127.0.0.1:8081/api/v2/app/setPreferences 2>&1'
          envFrom:
            - secretRef:
                name: media-secret
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
          resources:
            limits:
              squat.ai/tun: "1"

    cross-seed:
      pod:
        securityContext:
          fsGroup: 568
          fsGroupChangePolicy: "OnRootMismatch"
          runAsUser: 568
          runAsGroup: 568

      containers:
        main:
          image:
            repository: ghcr.io/cross-seed/cross-seed
            tag: 6.13.6@sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          args:
            - daemon
            - '-T'
            - http://media-prowlarr:9696/1/api?apikey=6e4a625420f84dd38d474f3b9664ea1a
            - http://media-prowlarr:9696/2/api?apikey=6e4a625420f84dd38d474f3b9664ea1a
            - '-A'
            - inject
            - '--qbittorrent-url'
            - 'http://media-qbittorrent:8081'
            - '--duplicate-categories'
            - '--match-mode'
            - 'partial'
            - '--link-dirs'
            - '/data/x-seed'
            - '--season-from-episodes'
            - '0.8'
            - '--rss-cadence'
            - '15min'
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: [ "/bin/sh", "-c", "/bin/ls /data/media || exit 1" ]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    prowlarr:
      containers:
        main:
          image:
            repository: linuxserver/prowlarr
            tag: 2.3.0@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC

    radarr:
      containers:
        main:
          image:
            repository: linuxserver/radarr
            tag: 6.0.4@sha256:f08dda38e7d12e5a722d9a5cb6e54acaf63c8598fefeefec88effe0c0d0038dd
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: [ "/bin/sh", "-c", "/bin/ls /data/media || exit 1" ]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    sonarr:
      containers:
        main:
          image:
            repository: linuxserver/sonarr
            tag: 4.0.16@sha256:6f73bbba33391a338e20d836a60c86beaf2a865a89b706b339fc8cb0b8ce1559
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: [ "/bin/sh", "-c", "/bin/ls /data/media || exit 1" ]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    profilarr:
      containers:
        main:
          image:
            repository: santiagosayshey/profilarr
            tag: v1.1.4@sha256:8a514f8429cd33885166facc9eb6504fa9ded056c737609e5e8ef32ae0afb350
          env:
            TZ: Europe/Kyiv
          envFrom:
            - secretRef:
                name: media-secret

    jellyfin:
      pod:
        nodeSelector:
          amd.com/gpu.device-id: 15d8
      containers:
        main:
          image:
            repository: linuxserver/jellyfin
            tag: 10.11.6@sha256:45814a5515fdb81cd41f5db946cfd53a3c5e91f0665b40b55bae30cab4b3cd2e
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
            DOCKER_MODS: linuxserver/mods:jellyfin-amd
            JELLYFIN_PublishedServerUrl: https://jellyfin.ivanchenko.io
          resources:
            limits:
              amd.com/gpu: 1
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: [ "/bin/sh", "-c", "/bin/ls /data/media || exit 1" ]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

    mkvtools:
      containers:
        main:
          image:
            repository: ghcr.io/vanchaxy/mkvtool
            tag: sha-238c97d@sha256:ef478c98973029643ca60a50d1f33286b71d4592cff4fe47d0029da5344ce70e
          env:
            PUID: 568
            PGID: 568
            TZ: Etc/UTC
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command: [ "/bin/sh", "-c", "/bin/ls /data/media || exit 1" ]
                initialDelaySeconds: 60
                periodSeconds: 15
                timeoutSeconds: 3
                failureThreshold: 3

  service:
    qbittorrent:
      controller: qbittorrent
      type: ClusterIP
      ports:
        http:
          port: 8081
    cross-seed:
      controller: cross-seed
      type: ClusterIP
      ports:
        http:
          port: 2468
    prowlarr:
      controller: prowlarr
      type: ClusterIP
      ports:
        http:
          port: 9696
    radarr:
      controller: radarr
      type: ClusterIP
      ports:
        http:
          port: 7878
    sonarr:
      controller: sonarr
      type: ClusterIP
      ports:
        http:
          port: 8989
    profilarr:
      controller: profilarr
      type: ClusterIP
      ports:
        http:
          port: 6868
    jellyfin:
      controller: jellyfin
      type: ClusterIP
      ports:
        http:
          port: 8096

  route:
    qbittorrent:
      hostnames:
        - qbittorrent.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: qbittorrent
    cross-seed:
      hostnames:
        - cross-seed.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: cross-seed
    prowlarr:
      hostnames:
        - prowlarr.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: prowlarr
    radarr:
      hostnames:
        - radarr.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: radarr
    sonarr:
      hostnames:
        - sonarr.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: sonarr
    profilarr:
      hostnames:
        - profilarr.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: profilarr
    jellyfin:
      hostnames:
        - jellyfin.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https
      rules:
        - backendRefs:
            - identifier: jellyfin

  persistence:
    config-rwo:
      storageClass: longhorn-ssd
      size: 50Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        qbittorrent:
          main:
            - path: /config
              subPath: qbittorrent-config
        cross-seed:
          main:
            - path: /config
              subPath: cross-seed-config
        prowlarr:
          main:
            - path: /config
              subPath: prowlarr-config
        radarr:
          main:
            - path: /config
              subPath: radarr-config
        sonarr:
          main:
            - path: /config
              subPath: sonarr-config
        profilarr:
          main:
            - path: /config
              subPath: profilarr-config
        jellyfin:
          main:
            - path: /config
              subPath: jellyfin-config
        mkvtools:
          main:
            - path: /UTOPIA-Upload-Assistant/data
              subPath: mkvtools-config
    tmp:
      type: emptyDir
      advancedMounts:
        mkvtools:
          main:
            - path: /UTOPIA-Upload-Assistant/tmp
    data:
      storageClass: nfs-csi
      size: 10Ti
      accessMode: ReadWriteMany
      retain: true
      advancedMounts:
        qbittorrent:
          main:
            - path: /data
        cross-seed:
          main:
            - path: /data
        radarr:
          main:
            - path: /data
        sonarr:
          main:
            - path: /data
        jellyfin:
          main:
            - path: /data/media
              subPath: media
        mkvtools:
          main:
            - path: /data

helpers:
  infisicalSecrets:
    - name: media-secret
      namespace: media
      infisical:
        path: "/media"
    - name: oidc-client-secret
      infisical:
        path: "/media/oidc-client-secret"
  backups:
    - pvcName: media-config-rwo
      resticRepoSuffix: media/config
      moverSecurityContext:
        fsGroup: 568
        runAsGroup: 568
        runAsNonRoot: true
        runAsUser: 568
  oidcPolicy:
    routes:
      - media-qbittorrent
      - media-cross-seed
      - media-prowlarr
      - media-radarr
      - media-sonarr
      - media-profilarr
    clientID: "d404497a-f9a7-4ee4-8856-9a2c7bb0894d"
    clientSecretName: "oidc-client-secret"
