pocket-id:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/pocket-id/pocket-id
            tag: v1.16.0@sha256:f8cde808e8e840acda25683fc2168e0206e3f3fb1a48cca89d211aafd87eaeef
          env:
            APP_URL: https://id.ivanchenko.io
            TRUST_PROXY: true

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 1411

  route:
    main:
      hostnames:
        - id.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https

  persistence:
    config:
      enabled: true
      suffix: config
      storageClass: longhorn-ssd
      size: 1Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /app/data
