csi-driver-nfs:
  controller:
    runOnControlPlane: true
  storageClass:
    create: true
    name: nfs-csi
    parameters:
      server: 192.168.50.210
      share: /mnt/user/nfs-csi/
      mountPermissions: "0"
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    mountOptions:
      - nfsvers=4.1
      - soft
      - timeo=50
      - retrans=2
      - relatime
      - rsize=1048576
      - wsize=1048576
