satisfactory:
  controllers:
    main:
      replicas: 0
      containers:
        main:
          image:
            repository: wolveix/satisfactory-server
            tag: v1.9.10@sha256:e103700ae6ae4c50f19dac80eadb2a805c5b885e179ae2a40850e967bf189efd
          resources:
            requests:
              memory: 16Gi
            limits:
              memory: 16Gi

  service:
    main:
      controller: main
      type: LoadBalancer
      loadBalancerIP: 192.168.50.235
      annotations:
        external-dns.alpha.kubernetes.io/hostname: "sf.ivanchenko.io"
      ports:
        api:
          port: 7777
          protocol: TCP
        game:
          port: 7777
          protocol: UDP
        messaging:
          port: 8888
          protocol: TCP

  persistence:
    config:
      enabled: true
      suffix: config
      storageClass: longhorn-ssd
      size: 1Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /config/backups
              subPath: backups
            - path: /config/logs
              subPath: logs
            - path: /config/saved
              subPath: saved
    gamefiles:
      enabled: true
      suffix: gamefiles
      storageClass: longhorn-ssd
      size: 20Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        main:
          main:
            - path: /config/gamefiles
helpers:
  backups:
    - enabled: false
      pvcName: satisfactory-config
      resticRepoSuffix: satisfactory
      retain:
        hourly: 12
        daily: 7
        weekly: 4
        monthly: 2
        yearly: 1
