cloudnative-pg:
  config:
    clusterWide: false

immich:
  controllers:
    main:
      containers:
        main:
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-user
                  key: username
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-app
                  key: dbname
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-user
                  key: password

  immich:
    persistence:
      library:
        existingClaim: photo-library

  valkey:
    enabled: true
    persistence:
      data:
        enabled: true
        size: 1Gi
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce

  server:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.4.1@sha256:e6a6298e67ae077808fdb7d8d5565955f60b0708191576143fc02d30ab1389d1
    ingress:
      main:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
          - host: &host immich.ivanchenko.io
            paths:
              - path: "/"
        tls:
          - secretName: immich-tls
            hosts:
              - *host

  machine-learning:
    enabled: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.4.1@sha256:b3deefd1826f113824e9d7bc30d905e7f823535887d03f869330946b6db3b44a

helpers:
  infisicalSecrets:
    - name: immich-postgres-user
      infisical:
        path: "/immich/postgres-user"
  backups:
    - pvcName: photo-library
      resticRepoSuffix: photo-library
      schedule: "0 0 * * *"
      retain:
        daily: 5
        weekly: 4
        monthly: 2
        yearly: 1
    - pvcName: immich-postgres-1
      resticRepoSuffix: immich/postgres
      schedule: "0 0 * * *"
      retain:
        daily: 5
        weekly: 4
        monthly: 2
        yearly: 1
      moverSecurityContext:
        fsGroup: 26
        runAsGroup: 26
        runAsNonRoot: true
        runAsUser: 26
