cloudnative-pg:
  config:
    clusterWide: false

immich:
  controllers:
    main:
      containers:
        main:
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-user
                  key: username
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-app
                  key: dbname
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-postgres-user
                  key: password

  immich:
    persistence:
      library:
        existingClaim: photo-library

  valkey:
    enabled: true
    persistence:
      data:
        enabled: true
        size: 1Gi
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce

  server:
    controller:
      main:
        strategy:
          type: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.2.3
    ingress:
      main:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
          - host: &host immich.ivanchenko.io
            paths:
              - path: "/"
        tls:
          - secretName: immich-tls
            hosts:
              - *host
      public:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/target: "homelab-tunnel.ivanchenko.io"
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: '0'
        hosts:
          - host: &host-public immich-public.ivanchenko.io
            paths:
              - path: "/share/"
              - path: "/_app/immutable/"
              - path: "/service-worker.js"
                pathType: Exact
              - path: "/custom.css"
                pathType: Exact
              - path: "/light_skeleton.png"
                pathType: Exact
              - path: "/dark_skeleton.png"
                pathType: Exact

              - path: "/api/assets"
              - path: "/api/albums/"
              - path: "/api/server/media-types"
                pathType: Exact
              - path: "/api/shared-links/me"
                pathType: Exact
              - path: "/api/server/config"
                pathType: Exact
              - path: "/api/server/features"
                pathType: Exact
              - path: "/api/timeline/buckets"
                pathType: Exact
              - path: "/api/timeline/bucket"
                pathType: Exact
              - path: "/api/download/info"
                pathType: Exact
              - path: "/api/download/archive"
                pathType: Exact
        tls:
          - secretName: host-public-tls
            hosts:
              - *host-public

  machine-learning:
    enabled: true
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.2.3

helpers:
  infisicalSecrets:
    - name: immich-postgres-user
      infisical:
        path: "/immich/postgres-user"
  backups:
    - pvcName: photo-library
      resticRepoSuffix: photo-library
      schedule: "0 0 * * *"
      retain:
        daily: 5
        weekly: 4
        monthly: 2
        yearly: 1
    - pvcName: immich-postgres-1
      resticRepoSuffix: immich/postgres
      schedule: "0 0 * * *"
      retain:
        daily: 5
        weekly: 4
        monthly: 2
        yearly: 1
      moverSecurityContext:
        fsGroup: 26
        runAsGroup: 26
        runAsNonRoot: true
        runAsUser: 26
