actualbudget:
  controllers:
    actualbudget:
      containers:
        main:
          image:
            repository: actualbudget/actual-server
            tag: 26.1.0@sha256:e82b7302b0db7f8fa063159e8bddc07443bb83761798dc9ba84fe1b3df62d74f
          env:
            ACTUAL_OPENID_SERVER_HOSTNAME: https://budget.ivanchenko.io
            ACTUAL_OPENID_ENFORCE: true
            ACTUAL_OPENID_AUTH_METHOD: openid
          envFrom:
            - secretRef:
                name: actualbudget-secret

    bank-sync:
      type: cronjob
      cronjob:
        schedule: "0 11,15,20 * * *"
        startingDeadlineSeconds: 120
        backoffLimit: 0
        successfulJobsHistory: 21
        failedJobsHistory: 21
      pod:
        imagePullSecrets:
          - name: ghcr-login-secret
      containers:
        main:
          image:
            repository: ghcr.io/vanchaxy/bank-sync
            tag: sha-6a93e8c
          envFrom:
            - secretRef:
                name: actualbudget-secret

    bank-sync-skip-download:
      type: cronjob
      cronjob:
        schedule: "0 0-10,12-14,16-19,21-23 * * *"
        startingDeadlineSeconds: 120
        backoffLimit: 0
        successfulJobsHistory: 21
        failedJobsHistory: 21
      pod:
        imagePullSecrets:
          - name: ghcr-login-secret
      containers:
        main:
          image:
            repository: ghcr.io/vanchaxy/bank-sync
            tag: sha-6a93e8c
          args: ['--skip-download']
          envFrom:
            - secretRef:
                name: actualbudget-secret

  service:
    actualbudget:
      controller: actualbudget
      type: ClusterIP
      ports:
        http:
          port: 5006

  route:
    main:
      hostnames:
        - budget.ivanchenko.io
      parentRefs:
        - name: internal-gw
          namespace: envoy-gateway
          sectionName: https

  persistence:
    data:
      enabled: true
      storageClass: longhorn-ssd
      size: 1Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        actualbudget:
          main:
            - path: /data
    bank-sync:
      enabled: true
      storageClass: longhorn-ssd
      size: 1Gi
      accessMode: ReadWriteOnce
      advancedMounts:
        bank-sync:
          main:
            - path: /data
        bank-sync-skip-download:
          main:
            - path: /data

helpers:
  ghcrSecret:
    enabled: true
  infisicalSecrets:
    - name: actualbudget-secret
      infisical:
        path: "/actualbudget"
  backups:
    - pvcName: actualbudget-data
      resticRepoSuffix: actualbudget/data
    - pvcName: actualbudget-bank-sync
      resticRepoSuffix: actualbudget/bank-sync
