app-template:
  controllers:
    cloudflared:
      containers:
        app:
          image:
            repository: docker.io/cloudflare/cloudflared
            tag: 2025.10.1@sha256:21f3607baf2384c54d592b0efe76dd5f548c0dbc083e62fa22c7fac3923d077f
          args:
            - tunnel
            - --config
            - /etc/cloudflared/config.yaml
            - run
  configMaps:
    config:
      enabled: true
      data:
        config.yaml: |
          tunnel: homelab
          credentials-file: /etc/cloudflared/credentials.json
          metrics: 0.0.0.0:2000
          no-autoupdate: true
          ingress:
            - hostname: '*.ivanchenko.io'
              service: https://ingress-nginx-controller.ingress-nginx
              originRequest:
                noTLSVerify: true
            - service: http_status:404
  persistence:
    config:
      enabled: true
      type: configMap
      name: cloudflared-config
      globalMounts:
        - path: /etc/cloudflared/config.yaml
          subPath: config.yaml
    credentials:
      enabled: true
      type: secret
      # Created by ../../external/cloudflared
      name: cloudflared-credentials
      globalMounts:
        - path: /etc/cloudflared/credentials.json
          subPath: credentials.json

helpers:
  infisicalSecrets:
    - name: cloudflared-credentials
      infisical:
        path: "/cloudflare"
      template:
        data:
          credentials.json: '{{ .credentialsjson.Value }}'
