iperf3:
  controllers:
    main:
      replicas: 0
      containers:
        main:
          image:
            repository: networkstatic/iperf3
            tag: latest@sha256:07dcca91c0e47d82d83d91de8c3d46b840eef4180499456b4fa8d6dadb46b6c8
          args: ['-s']

  service:
    main:
      controller: main
      type: LoadBalancer
      ports:
        http:
          port: 5201
