argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: v3.2.6@sha256:64e4239359438fb0ad42d46ae2061daa841ae52d4e63f94017929f7e26dd51b2
    domain: argocd.ivanchenko.io
  configs:
    params:
      server.insecure: true
      controller.diff.server.side: true
    secret:
      createSecret: false
    cm:
      admin.enabled: true
      resource.ignoreResourceUpdatesEnabled: true
      oidc.config: |
        name: Pocket ID
        issuer: https://id.ivanchenko.io
        clientID: 8785dd82-3058-4411-a3ef-d675f9c3e610
        clientSecret: $oidc.clientSecret
        logoutURL: https://id.ivanchenko.io/api/oidc/end-session
      resource.customizations.actions.argoproj.io_ApplicationSet: |
        discovery.lua: |
          return {
              ["change-branch"] = {
                  iconClass = "fa fa-fw fa-code-branch",
                  displayName = "Change branch",
                  params = {
                      { name = "branch" }
                  }
              }
          }
        definitions:
        - name: change-branch
          action.lua: |
            obj.spec.generators[1].git.revision = actionParams["branch"]
            obj.spec.template.spec.source.targetRevision = actionParams["branch"]
            return obj
      resource.customizations.actions.argoproj.io_AppProject: |
        discovery.lua: |
          local actions = {}
          if obj.spec.syncWindows == nil or #obj.spec.syncWindows == 0 then
            actions["pause-sync"] = {
              displayName = "Pause Sync",
              iconClass = "fa fa-pause-circle"
            }
          else
            actions["unpause-sync"] = {
              displayName = "Resume Sync",
              iconClass = "fa fa-play-circle"
            }
          end
          return actions
        definitions:
        - name: pause-sync
          action.lua: |
            obj.spec.syncWindows = {
              {
                applications = {"*"},
                duration = "1h",
                kind = "deny",
                manualSync = true,
                schedule = "* * * * *",
                timeZone = "UTC"
              }
            }
            return obj
        - name: unpause-sync
          action.lua: |
            obj.spec.syncWindows = nil
            return obj
    rbac:
      policy.csv: |
        g, admins, role:admin
  dex:
    enabled: false
  server:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      tls: true
  redisSecretInit:
    enabled: false

appsSync:
  repoURL: https://github.com/vanchaxy/homelab
  targetRevision: main
  path: k8s/
  projects:
    - apps
    - games
    - platform
    - system
  privilegedNamespaces:
    - amdgpu
    - csi-driver-nfs
    - longhorn-system
    - monitoring
    - media

helpers:
  infisicalSecrets:
    - name: argocd-secret
      infisical:
        path: "/argocd/argocd-secret"
