argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: v3.2.1@sha256:a8532a23ed5f6e65afaf2a082b65fc74614549e54774f6b25fe3c993faa7bea3
    domain: argocd.ivanchenko.io
  configs:
    params:
      server.insecure: true
      controller.diff.server.side: true
    secret:
      createSecret: false
    cm:
      admin.enabled: true
      resource.ignoreResourceUpdatesEnabled: true
      oidc.config: |
        name: Pocket ID
        issuer: https://id.ivanchenko.io
        clientID: 8785dd82-3058-4411-a3ef-d675f9c3e610
        clientSecret: $oidc.clientSecret
        logoutURL: https://id.ivanchenko.io/api/oidc/end-session
    rbac:
      policy.csv: |
        g, admins, role:admin
  dex:
    enabled: false
  server:
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      tls: true
  redisSecretInit:
    enabled: false
argocd-apps:
  projects:
    default:
      namespace: argocd
      description: default
      sourceRepos:
        - '*'
      destinations:
        - namespace: '*'
          server: '*'
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
  applicationsets:
    root:
      namespace: argocd
      generators:
        - git:
            repoURL: &repoURL https://github.com/vanchaxy/homelab
            revision: &revision main
            directories:
              - path: k8s/system/*
              - path: k8s/platform/*
              - path: k8s/apps/*
              - path: k8s/games/*
      template:
        metadata:
          name: '{{path.basename}}'
        spec:
          destination:
            name: in-cluster
            namespace: '{{path.basename}}'
          project: default
          source:
            repoURL: *repoURL
            path: '{{path}}'
            targetRevision: *revision
          syncPolicy:
            automated:
              prune: true
              selfHeal: true
            retry:
              limit: 10
              backoff:
                duration: 1m
                factor: 2
                maxDuration: 16m
            syncOptions:
              - CreateNamespace=true
              - ApplyOutOfSyncOnly=true
              - ServerSideApply=true
            managedNamespaceMetadata:
              labels:
                pod-security.kubernetes.io/enforce: privileged

helpers:
  infisicalSecrets:
    - name: argocd-secret
      infisical:
        path: "/argocd/argocd-secret"
