{% if inventory_hostname == groups['cloud'][0] %}
cluster-init: true
{% else %}
server: https://{{ hostvars[groups['cloud'][0]].ansible_host }}:6443
{% endif %}
vpn-auth: name=tailscale,joinKey=tskey-auth-kki4Ud3CNTRL-f2bAE47pmWK93y6qF3R7RK93vkBzQ3WUf
token-file: {{ k3s_token_file }}
node-external-ip: "{{ ansible_host }}"
node-label:
  - 'topology.kubernetes.io/region={{ region }}'
{% if master %}
{{ k3s_server_config | to_nice_yaml }}
{% endif %}