longhorn:
  image:
    longhorn:
      manager:
        tag: v1.11.0-hotfix-1
      instanceManager:
        tag: v1.11.0-hotfix-1
  persistence:
    defaultClass: false
  preUpgradeChecker:
    upgradeVersionCheck: false
    jobEnabled: false
  defaultSettings:
    backupTarget: s3://longhorn-vanchaxy@dummyregion/
    backupTargetCredentialSecret: b2-secret
    createDefaultDiskLabeledNodes: 'true'
    storageOverProvisioningPercentage: '100'
    defaultReplicaCount: '2'
    autoDeletePodWhenVolumeDetachedUnexpectedly: 'true'
    nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
  httproute:
    enabled: true
    hostnames:
     - longhorn.ivanchenko.io
    parentRefs:
      - name: internal-gw
        namespace: envoy-gateway
        sectionName: https

helpers:
  infisicalSecrets:
    - name: b2-secret
      infisical:
        path: "/longhorn/b2"
    - name: oidc-client-secret
      infisical:
        path: "/longhorn/oidc-client-secret"
  oidcPolicy:
    routes:
      - longhorn-httproute
    clientID: "ad53b7b9-99cd-4399-8967-cee24a505944"
    clientSecretName: "oidc-client-secret"
    cookieDomain: "longhorn.ivanchenko.io"
