[Interface]
Address = {{ vpn_addr }}
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_port }}

{% for host in ansible_play_hosts %}
{%   if host != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[host].wireguard__fact_public_key }}
AllowedIPs = {{ hostvars[host].vpn_addr }}/32
PersistentKeepalive = 25
{%     if ('metal' in group_names) or
          (not groups.metal is defined) or
          (host not in groups.metal) %}
Endpoint = {{ hostvars[host].ansible_host }}:{{ wireguard_port }}
{%     endif %}

{%   endif %}
{% endfor %}