{{- range $secret := .Values.infisicalSecrets }}
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: {{ $secret.name }}
  {{- if $secret.labels }}
  labels:
    {{- toYaml $secret.labels | nindent 4 }}
  {{- end }}
spec:
  authentication:
    universalAuth:
      secretsScope:
        projectSlug: {{ $.Values.global.infisical.projectSlug }}
        envSlug: {{ $.Values.global.infisical.envSlug }}
        secretsPath: {{ $secret.infisical.path | quote }}
      credentialsRef:
        secretName: {{ $.Values.global.infisical.credentialsRef.secretName }}
        secretNamespace: {{ $.Values.global.infisical.credentialsRef.secretNamespace }}
  managedSecretReference:
    creationPolicy: "Owner"
    secretName: {{ $secret.name }}
    secretNamespace: {{ $.Release.Namespace }}
    secretType: {{ $secret.type | default "Opaque" }}
    {{- if $secret.template }}
    template:
      {{- toYaml $secret.template | nindent 6 }}
    {{- end }}
---
{{- end }}
